<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555748641377-f0qr63ocjbsnp0r79a4aeicpbrtu8cas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555748641377-f0qr63ocjbsnp0r79a4aeicpbrtu8cas</string>
	<key>API_KEY</key>
	<string>AIzaSyAbxNaZ4iXjCwRSYJajuOo1ErrNrMtkCQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>555748641377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halilyas.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-1668c</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-1668c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555748641377:ios:0c3fd0a7a887577b6d7820</string>
</dict>
</plist>